{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
    <h1>Votre Panier</h1>

    {% if items| length > 0  %}
        <table class= "table">
            <thead>
                <tr>
                    <th>Produit </th>
                    <th>Prix</th>
                    <th>Quantité </th>
                    <th>Total</th>
                    <th></th>
                    </tr>
            </thead>

            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.produit.nom }}</td>
                        <td>{{ item.produit.prix }}</td>
                        <td>{{item.quantité }}</td>
                        <td>{{ item.produit.prix * item.quantité }}</td>
                        <td>
                            <a href="{{ path('remove_produit', {'id':item.produit.id})}}" class= "btn btn-danger btn-sm" >
                                <i class="fas fa-trash"></i>
                            </a>
                            
                        </td>
                    </tr>
                    

              
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total :</td>
                <td>{{ total }} €</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a class="btn btn-block btn-light" href="{{ path('home') }}">Continue Shopping</a>
                </div>
            </div>
        </div>
{% else %}
    <p class="text-dark">Votre panier est vide</p>



            </tbody>
                
            <tfoot>
                <tr>
                    <td colspan = "3" class= "text-right">Total:</td>
                    <td> {{ total }}</td>
                    <td></td>
                </tr>
            <tfoot>
            </tfoot>
        </table>

             <a href="#" class= "btn btn-success btn-sm" >
                    Acheter
            </a>

        votre panier est vide !

    {% endif %}


{% endblock %}
