{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
    <h1>Votre Panier</h1>

     {# <form action="" method="post">

    <button type="submit" class="btn btn-primary">Acheter</button>

    </form> #}
    


     {% if panier| length > 0  %}
    
        <table class= "table">
            <thead>
                <tr>
                    <th>Produit </th>
                    <th>Prix</th>
                    {# <th>Quantité </th> #}
                    <th>Total</th>
                    <th></th>
                    </tr>
            </thead>

            <tbody> 
             {% set total = 0 %}  
            {# initialisation variable total  #}

                 {% for item in panier %} 
                 <pre>
    {{ dump(panier) }}
</pre>
                      {# {% set total = total + item.produit.prix * item.quantite %} #}
                      <tr> 
                         <td>{{ item }}</td>
                        {# <td>{{ item.prix }}</td>   
                         <td>{{item.quantite }}</td>  #}
                        {# <td>{{ panier.produit.prix * item.quantite }}</td> #}
                        {# <td>
                            <a href="{{ path('remove_produit', {'id':item.id})}}" class= "btn btn-danger btn-sm" >
                                <i class="fas fa-trash"></i>
                            </a>
                            
                        </td> #}
                    </tr> 
                    <form action="" method="post">

    <button type="submit" class="btn btn-primary">Acheter</button>
<pre>
    {{ dump(panier) }}
</pre>
    </form>
                {% endfor %}
            </tbody> 
                
             <tfoot>
                <tr>
                    <td colspan = "3" class= "text-right">Total:</td>
                    <td> {{ total }}</td>
                    <td></td>
                </tr>
            <tfoot>
            </tfoot>
        </table> 
   
             
    {% else %}
        votre panier est vide !

    {% endif %}


{% endblock %} 
