{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}

    {% if items| length > 0  %}
        <table class= "table">
            <thead>
                <tr>
                    <th>Produit </th>
                    <th>Prix</th>
                    <th>Quantité </th>
                    <th>Total</th>
                    <th></th>
                    </tr>
            </thead>

            <tbody>
                {% for item in items %}
                    <tr>
                        <td><{{ item.produit.titre }}/td>
                        <td>{{ item.produit.prix }}</td>
                        <td>{{item.quantité }}</td>
                        <td>{{ item.produit.prix * item.quantité }}</td>
                        <td>
                            <a href="#" class= "btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                            
                        </td>
                    </tr>
                    
                <td>
                        <a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total :</td>
                <td>{{ total }} €</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
    <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a class="btn btn-block btn-light" href="{{ path('shop') }}">Continue Shopping</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a class="btn btn-lg btn-block btn-success text-uppercase" >Checkout</a>
                </div>
            </div>
        </div>
{% else %}
    <p class="text-dark">Votre panier est vide</p>
{% endif %}
{% endblock %}
