{% extends 'base.html.twig' %}

{% block title %}Cher client bienvenu!{% endblock %}
{% block titreH1 %}Mon profil{% endblock %}

{% block body %}

	<h2>Bonjour,{{ app.user.pseudo }}</h2>

	<div class="">
		<ul class="list-group">
			<li class="list-group-item">Nom :
				{{app.user.nom}}</li>
			<li class="list-group-item">Prénom :
				{{ app.user.prenom}}</li>
			<li class="list-group-item">Adresse :
				{{ app.user.adresse}}</li>
                	<li class="list-group-item">Code Postal :
				{{ app.user.codepostal}}</li>
                	<li class="list-group-item">Email :
				{{ app.user.email}}</li>
        </ul>
	</div>
{% endblock %}
