
	


			
<article class="col-6">
					<div class="card  articleProduit  " >
						<img src="/img/{{produit.photo}}" class="card-img-top"  alt="...">
						<div class="card-body">
							<h5 class="card-title">{{produit.nom}}</h5>
							<p class="card-text">{{produit.description}}</p>
							<p class="card-text">{{produit.prix}}</p>

							<a href="{{ path("produit_show", {id: produit.id}) }}" class="btn btn-ghost ">Regarder</a>
							
						</div>
					</div>


				</article>
		
