{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Marque</th>
                <th>Category</th>
                <th>Stock</th>
                <th>Prix</th>
                <th>Photo</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.Nom }}</td>
                <td>{{ produit.marque }}</td>
                <td>{{ produit.Category }}</td>
                <td>{{ produit.Stock }}</td>
                <td>{{ produit.Prix }}</td>
                <td>{{ produit.Photo }}</td>
                <td>{{ produit.Description }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                    <a href="{{ path('panier_ajout', {'id': produit.id}) }}">add</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">Create new</a>
{% endblock %}
