{% extends 'base.html.twig' %}

{# {% block title %}Categorie {{produit.category}}{% endblock %} #}

{% block body %}
    <h1>Categories/Produits</h1>

    <table class="table">
        <thead>
            <tr>
                
                
               
                <th>Nom</th>
                <th>Marque</th>
                <th>Prix</th>
                
                <th>Photo</th>
                <th>Description</th>
                
            </tr>
        </thead>
        <tbody>
        {% for produit in listeproduitcategorie %}
            <tr>
                 
                 <td>{{ produit.nom }}</td>
                <td>{{ produit.marque }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.photo }}</td>
                <td>{{ produit.description }}</td>
             
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
