{% extends 'base.html.twig' %}

{% block title %}{{ produit.nom }}{% endblock %}

{% block body %}

    <!-- <div class="card  articleProduit  " > -->
<div class="container">
    <div class="space">
        <div class="row">
            <div class="col-md-5">
                <img src="/img/{{produit.photo}}" alt="{{produit.nom}}" class="img-fluid">
            </div>
            <div class="col-md-7 my-auto">
                <h3>{{produit.nom}}</h3>
                <hr />
                <p> <strong>Marque :</strong> {{produit.marque }}</p>
                <hr />
                <span class="product-page-price"> <strong>Prix :</strong>{{ produit.prix}} €</span>
                <hr />
                <p> <strong>Descrition</strong> {{ produit.description }}</p>
                <hr />
                <p> <strong>Stock :</strong> {{ produit.stock }}</p>
                <hr />
                <a href="{{ path('ajout_produit', {'id': produit.id}) }}" class= "btn btn-success btn-sm">
                    <i class="fas fa-shopping-cart"> Ajouter au panier</i>
                </a>
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('produit_index') }}">back to list</a>

                    {{ include('produit/_delete_form.html.twig') }}

                {% endif %}
    

            </div>
        </div>
    </div>
</div>

{% endblock %} 