<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
								           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>


	{% block header %}
		{{include("menu.html.twig")}}
	{% endblock %}

	{% block body %}
		<body class="container">
			


				{% for type,messages in app.flashes %}

					{% for msg in messages %}
						<div class="alert alert-{{ type }}">
							{{ msg }}
						</div>
					{% endfor %}

				{% endfor %}

				<h1>
					{% block titreH1 %}
						Bienvenue sur notre ecommerce wf3
					{% endblock %}
				</h1>


			
		</body>
	{% endblock %}
	{% block footer  %}
	
		<footer class="text-center text-lg-start bg-light text-muted container">

			{{include("footer.html.twig")}}

		</footer>
	{% endblock %}
</html>
