<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
	<a class="navbar-brand" href="{{ path("home") }}">Beauty & Wellness</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			{# Dans les fichiers Twig, on peut accéder à une variable globale 'app'.
			          app.user : si app.user est non null, contient une objet user (classe Abonne) qui contient les informations de l'utilisateur connecté #}

			{# {% if is_granted("IS_AUTHENTICATED_FULLY") %} #}
				{# {% if app.user %} #}
				<li class="nav-item">
					<a class="nav-link" href="{{ path("app_login") }}">
						<i class="fa fa-user"></i>
						{# {{ app.user.username }} #}
						{#  {{ app.user.pseudo }} #}
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{ path("app_logout") }}">
						<i class="fa fa-sign-out-alt">déconnexion</i>
					</a>
				</li>
			{# {% else %} #}
				{# <li class="nav-item ">
					<a class="nav-link" href="{{ path("app_login") }}">
						<i class="fa fa-sign-in-alt"></i>
					</a>
				</li> #}
				<li class="nav-item ">
					<a class="nav-link" href="{{ path("app_register") }}">Inscription
					</a>
				</li>
			{# {% endif %} #}

			{# la fonction 'is_granted()' permet de vérifier si l'utilisateur connect à la rôle passé en paramètre #}
			{# {% if is_granted("ROLE_ADMIN") %} #}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Nos Produits
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ path("produit_index") }}">Liste des produits</a>
						
						<div class="dropdown-divider"></div>
					
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Utilisateur
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ path("user_index") }}">Liste</a>
						
					</div>
				</li>

		
			{# {% endif %} #}

			{# {% if is_granted("ROLE_BIBLIO") %} #}
			
			{# {% endif %} #}

		</ul>
		<form class="form-inline my-2 my-lg-0" action="{{ path("home") }}">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="mot">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>
