<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
	<a class="navbar-brand" href="{{ path("home") }}">Beauty & Wellness</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">


			{% if is_granted("IS_AUTHENTICATED_FULLY") %}

				{# {% if app.user %} #}


				<li class="nav-item">
					<a class="nav-link" href="{{ path("app_logout") }}">
						<i class="fa fa-sign-out-alt">déconnexion</i>
					</a>
				</li>


				<li class="nav-item ">
					<a class="nav-link" href="{{ path("panier_index") }}"><i class="fas fa-shopping-cart"></i>
					</a>
				</li>


				{% if is_granted("ROLE_ADMIN") %}

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Nos Produits
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{ path("produit_index") }}">Liste des produits</a>

							<div class="dropdown-divider"></div>

						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Utilisateurs
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="{{ path("user_index") }}">Liste des utilisateurs</a>

						</div>
					</li>


				{% endif %}
			{% else %}


				<li class="nav-item">
					<a class="nav-link" href="{{ path("app_login") }}">
						<i class="fa fa-user"></i>

						{# {{ app.user.username }} #}
						{#  {{ app.user.pseudo }} #}

					</a>
				</li>

				<li class="nav-item ">
					<a class="nav-link" href="{{ path("app_register") }}">Inscription
					</a>
				</li>


			{% endif %}

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Catégories
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					{% for categorie in liste_categories %}


						<a class="dropdown-item" href="{{ path('productByCategorie', {category: categorie.category}) }}">{{categorie.category}}</a>
						{# categorie.category :  category correspond a la valeur du chamlp category  #}
					{% endfor %}
				</div>
			</li>

		</ul>


		<form class="form-inline my-2 my-lg-0" action="{{ path("search") }}">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="mot">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>
